<h1>Editing lavanderium</h1>

<%= render "form", lavanderium: @lavanderium %>

<br>

<div>
  <%= link_to "Show this lavanderium", @lavanderium %> |
  <%= link_to "Back to lavanderia", lavanderia_path %>
</div>
