# <h1>Editing cozinha</h1>

# <%= render "form", cozinha: @cozinha %>

# <br>

# <div>
#   <%= link_to "Ver este item", @cozinha %> |
#   <%= link_to "Voltar para itens da cozinha", cozinhas_path %>
# </div>
