<h1>New cozinha</h1>

<%= render "form", cozinha: @cozinha %>

<br>

<div>
  <button type="button" onclick="window.location.href='<%= root_path %>'">
  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAxklEQVRIS2NkoDFgpLH5DHS3wAHoo/lArECmzx4A9SUC8QGYfnQfgBTIk2k4TNsHIEMQlwX/oRLkBh2GfnSDhr8FC4BBmIAnjggGEaH4BRlwAYgdgRgUmeiAKhaADAUZDrIEZBkyIGgBTAEhn8DkQWkeFGwwMPAWEHI5zIUfgQodyAkiYiy4CDWcrEgmlNFA4Z2AxxVEx8FoUQEPAVoU1w+BcaQAiyd0C0BJDxSR5NYJIMNBieAALgsIJVOS5clNLURbRHMLAJ8WMhnOi1xiAAAAAElFTkSuQmCC"/>
  </button>
</div>
