# <h1>Editing banheiro</h1>

# <%= render "form", banheiro: @banheiro %>

# <br>

# <div>
#   <%= link_to "Show this banheiro", @banheiro %> |
#   <%= link_to "Back to banheiros", banheiros_path %>
# </div>
